/* 
    Document   : caseComment
    Created on : 03/05/2012, 12:01:17 ص
    Author     : Ahmed Salem
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

p.date_row {

padding: 3px 20px 4px 23px;
background: url(../images/clock_16.png)  no-repeat right;
color: #908B88;
}



p.mail_row {

padding: 3px 20px 4px 23px;
background: url(../images/letter_16.png)  no-repeat left;
direction: ltr;
color: #908B88;
}


p.total_row {

padding: 3px 20px 4px 23px;
background: url(../images/statistics_16.png)  no-repeat right;
direction: rtl;
color: #908B88;
}

#table-comment {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#table-comment td, #table-comment th {
	padding: 5px;
	color: #333;
}
#table-comment thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: right;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
       
}
#table-comment th {
     direction: rtl;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	
	text-shadow: white 1px 1px 1px;
}
#table-comment td {
	line-height: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	
}


#table-comment td#last_row {
	margin-bottom: 10px;
        height:15px;
        border-bottom: 2px dotted appworkspace;
         
}


#table-comment td:hover {
	background-color: #fff;
       
}
