/* 
    Document   : caseComment
    Created on : 03/05/2012, 12:01:17 ص
    Author     : Ahmed Salem
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

p.r_date {
position: absolute;
top: 0px;
right: 0px;
padding: 3px 5px 4px 23px;
background: #E3E3E3 url(../../default/images/icon_sprite.png) 0px -133px no-repeat;
color: #908B88;
}
#table-comment {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
#table-comment td, #table-comment th {
	padding: 5px;
	color: #333;
}
#table-comment thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: right;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
#table-comment th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
#table-comment td {
	line-height: normal;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#table-comment p.date {
 
position: relative;
top: 0px;
right: 0px;
padding: 3px 5px 4px 23px;
background: #E3E3E3 url(../images/icon_sprite.png) 0px -133px no-repeat;
color: #908B88;
}
#table-comment td:hover {
	background-color: #fff;
}